<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ecp.gsy.dcs.zirkapp.app">

    <application
        android:name=".util.task.JSONApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ManagerWelcome"
            android:label="@string/title_activity_manager_welcome" />
        <activity
            android:name=".NewZimessActivity"
            android:label="@string/title_activity_new_zmessage"
            android:windowSoftInputMode="stateVisible|adjustResize"></activity>
        <activity
            android:name=".DetailZimessActivity"
            android:label="@string/title_activity_detail_zimess"
            android:windowSoftInputMode="stateVisible|adjustResize"></activity>

        <!--<service android:name="com.parse.PushService" />-->
        <!--<receiver android:name="com.parse.ParseBroadcastReceiver">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
                <!--<action android:name="android.intent.action.USER_PRESENT" />-->
                <!--<category android:name="com.ecp.gsy.dcs.zirkapp" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--<uses-permission android:name="android.permission.GET_ACCOUNTS" />-->

</manifest>
